<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Animation Decision!</title>

    <script type="text/javascript" charset="utf-8" src="./static/js/jquery.js"></script>
    <script type="text/javascript" charset="utf-8" src="./static/js/pixastic.custom.js"></script>
    <script type="text/javascript" charset="utf-8" src="./static/js/edges2.js"></script>
    <script type="text/javascript" charset="utf-8" src="./static/js/camcanvas.js"></script>
    <script type="text/javascript" charset="utf-8" src="./static/js/rtcomic.js"></script>
    <script type="text/javascript" charset="utf-8" src="./static/js/clm.js"></script>
    <script type="text/javascript" charset="utf-8" src="./static/js/utils.js"></script>
    <script type="text/javascript" charset="utf-8" src="./static/js/jsfeat-min.js"></script>
    <script type="text/javascript" charset="utf-8" src="./static/js/frontalface.js"></script>
    <script type="text/javascript" charset="utf-8" src="./static/js/jsfeat_detect.js"></script>
    <script type="text/javascript" charset="utf-8" src="./static/js/numeric-1.2.6.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="./static/js/mosse.js"></script>
    <script type="text/javascript" charset="utf-8" src="./static/js/left_eye_filter.js"></script>
    <script type="text/javascript" charset="utf-8" src="./static/js/right_eye_filter.js"></script>
    <script type="text/javascript" charset="utf-8" src="./static/js/nose_filter.js"></script>
    <script type="text/javascript" charset="utf-8" src="./static/js/ccv.js"></script>
    <script type="text/javascript" charset="utf-8" src="./static/js/cascade.js"></script>
    <script type="text/javascript" charset="utf-8" src="./static/js/svmfilter_webgl.js"></script>
    <script type="text/javascript" charset="utf-8" src="./static/js/svmfilter_fft.js"></script>
    <script type="text/javascript" charset="utf-8" src="./static/js/mossefilter.js"></script>
    <script type="text/javascript" charset="utf-8" src="./static/js/Stats.js"></script>
    <script type="text/javascript" charset="utf-8" src="./static/models/model_pca_20_svm.js"></script>
    <style type="text/css">
      html {
        /*background: #111111;*/
        height: 100%;
        /*background: linear-gradient( #333, #000);*/
      }
      #rtcanvas {
        position: absolute;
        top: 0px;
        left: 0px;
        -o-transform : scaleX(-1);
        -webkit-transform : scaleX(-1);
        transform : scaleX(-1);
        -ms-filter : fliph; /*IE*/
        filter : fliph; /*IE*/
        /*display: none;*/
        float: left;
      }
      #video {
        -o-transform : scaleX(-1);
	-webkit-transform : scaleX(-1);
        transform : scaleX(-1);
        -ms-filter : fliph; /*IE*/
        filter : fliph; /*IE*/
        /*display: none;*/
      }
      #startbutton, #submit {
        background: green;
        border: none;
        color: #fff;
        margin: 100px 20px 20px 20px;
        padding: 10px 20px;
        font-size: 20px;
      }
      #container {
        position : relative;
        width : 600px;
        height : 400px;
      }
      
    </style>

  </head>
  <body>
    <div id="container">
      <video id="video"></video>
      <canvas id="rtcanvas"></canvas>
    </div>
    <button id="startbutton">start</button>
    <button id="take">Take photo</button>
    <canvas id="canvas" height=300 width=500></canvas>
    <input type="text" id="words" width=200/>
    <button id="submit">submit</button>
    <canvas id="comcanvas"></canvas>
    <script>
(function() {

  var streaming = false,
      video        = document.querySelector('#video'),
      rtcanvas     = document.querySelector('#rtcanvas'),
      comcanvas    = document.querySelector('#comcanvas'),
      photo        = document.querySelector('#photo'),
      startbutton  = document.querySelector('#startbutton'),
      takebutton   = document.querySelector('#take'),
      submit       = document.querySelector('#submit'),
      words        = document.querySelector('#words'),
      width = 480,
      height = 0,
      counter = 0;
    
    /*
  var ctrack = new clm.tracker({useWebGL : true});
  ctrack.init(pModel);
  */

  navigator.getMedia = ( navigator.getUserMedia ||
                         navigator.webkitGetUserMedia ||
                         navigator.mozGetUserMedia ||
                         navigator.msGetUserMedia);
  // Believe me I have no idea what heppen here... :(
  navigator.getMedia(
    {
      video: true,
      audio: false
    },
    function(stream) {
      if (navigator.mozGetUserMedia) {
        video.mozSrcObject = stream;
      } else {
        var vendorURL = window.URL || window.webkitURL;
        video.src = vendorURL.createObjectURL(stream);
      }
      video.play();
    },
    function(err) {
      console.log("An error occured! " + err);
    }
  );


  video.addEventListener('canplay', function(ev){
    if (!streaming) {
      height = video.videoHeight / (video.videoWidth/width);
      video.setAttribute('width', width);
      video.setAttribute('height', height);
      rtcanvas.setAttribute('width', width);
      rtcanvas.setAttribute('height', height);
      comcanvas.setAttribute('width', width * 2);
      comcanvas.setAttribute('height', height * 2);
      streaming = true;
    }
  }, false);

  function ostu(img) {
      0
  }
  function drawrtCanvas() {
      rtcanvas.width = width;
      rtcanvas.height = height;
      rtcanvas.getContext('2d').drawImage(video, 0, 0, width, height);
      var data = rtcanvas.toDataURL('image/png');
      //photo.setAttribute('src', data);
      var img = new Image();
      img.id = "myImage";
      img.setAttribute('src', data);
      setFunction(passNormal);
      var option = {};
      option = {brightness: 100, contrast: 0.0}
      Pixastic.process(img, "brightness", option);
      var canvas0 = option.resultCanvas;
      canvas0.id = "origin";
      //function self-defined
      ProcessToGrayImage(canvas0, rtcanvas);
      newAlgorithm(canvas0, rtcanvas);

      option = {amount:0.025}
      Pixastic.process(img, "blur",option);
      canvas0 = option.resultCanvas;
      option = {}
      Pixastic.process(canvas0, "edges2",option);
      canvas0 = option.resultCanvas;
      //function self-defined
      newAlgorithm(canvas0, rtcanvas, {overlay:true});
      canvas0 = document.getElementById("origin");
      delBad(rtcanvas);
  }
  function takePhoto() {
      var comctx = comcanvas.getContext('2d');
      var data = rtcanvas.toDataURL('image/png');
      //photo.setAttribute('src', data);
      var img = new Image();
      img.id = "myImage";
      img.setAttribute('src', data);
      if (counter == 0) {
          comctx.drawImage(img, 0, 0);
      } else  if (counter == 1) {
          comctx.drawImage(img, comcanvas.width / 2, 0);
      } else if (counter == 2) {
          comctx.drawImage(img, 0, comcanvas.height / 2);
      } else if (counter == 3) {
          comctx.drawImage(img, comcanvas.width / 2, comcanvas.height / 2);
      }
      ++counter;
      if (counter == 4) {
          counter = 0;
      }
  }
  function dImage() {
      var canvas = document.getElementById("canvas");
      var ctx = canvas.getContext("2d");
      var img = new Image();
      img.width = 100;
      img.height = 100;
      img.onload = function() {
          ctx.drawImage(img, 0, 0);
      }
      img.src = "../static/img/test3.jpg";
      var canvasOffset = $("#canvas").offset();
      var offsetX = canvasOffset.left;
      var offsetY = canvasOffset.top;
      var canvasWidth = canvas.width;
      var canvasHeight = canvas.height;
      var isDragging = false;
      function handleMouseDown(e) {
          canMouseX = parseInt(e.clientX - offsetX);
          canMouseY = parseInt(e.clientY - offsetY);
          isDragging = true;
      }
      function handleMouseUp(e) {
          canMouseX = parseInt(e.clientX - offsetX);
          canMouseY = parseInt(e.clientY - offsetY);
          isDragging = false;
      }
      function handleMouseOut(e) {
          canMouseX = parseInt(e.clientX - offsetX);
          canMouseY = parseInt(e.clientY - offsetY);
      }
      function handleMouseMove(e) {
          canMouseX = parseInt(e.clientX - offsetX);
          canMouseY = parseInt(e.clientY - offsetY);
          // if the drag flag is set, clear the canvas and draw the image
          if (isDragging) {
              ctx.clearRect(0, 0, canvasWidth, canvasHeight);
              ctx.drawImage(img, canMouseX - 128 / 2, canMouseY - 120 / 2, 200, 200);
          }
      }
      $("#canvas").mousedown(function(e){handleMouseDown(e);});
      $("#canvas").mousemove(function(e){handleMouseMove(e);});
      $("#canvas").mouseup(function(e){handleMouseUp(e);});
      $("#canvas").mouseout(function(e){handleMouseOut(e);});
  }
  function drawLoop() {
      requestAnimFrame(drawLoop);
      var rtct = rtcanvas.getContext("2d");
      rtct.clearRect(0, 0, rtcanvas.width, rtcanvas.height);
      drawrtCanvas();
      /*
      if (ctrack.getCurrentPosition()) {
          ctrack.draw(rtcanvas);
      }
	  */
  }
  function startVideo() {
      video.display = "none";
      dImage();
      //ctrack.start(video);
      drawLoop();
  }

  function isChinese(str)
  {
	  if(/.*[\u4e00-\u9fa5]+.*$/.test(str)) 
		  return true; 
	  return false; 
  } 	  

  function drawOnCanvas() {
      var canvas = document.getElementById("canvas");
      var ctx = canvas.getContext("2d");
      var string = words.value;
      ctx.clearRect(0, 0, canvas.width, canvas.height);
      ctx.font = 'italic 12pt Heiti';
	  var i;
	  var cnt = 0;
	  for (i = 0 ; i < string.length ; i++)
	  {
		  if (isChinese(string[i]) && cnt % 6 == 5) cnt++;
		  var height = 15 + (parseInt(cnt / 6)) * 30;
		  var width = (cnt % 6) * (50 / 6);
		  console.log(cnt.toString()+" "+ width.toString() + " " + height.toString());
		  ctx.fillText(string[i], width, height);
		  if (isChinese(string[i]) == true)
			  cnt += 2;
		  else cnt++;
	  }
  }

  startbutton.addEventListener('click', function(ev){
      startVideo();
      ev.preventDefault();
  }, false);
  submit.addEventListener('click', function(ev) {
      drawOnCanvas();
      ev.preventDefault();
  }, false);
  takebutton.addEventListener('click', function(ev) {
      takePhoto();
      ev.preventDefault();
  }, false);
  
})();
</script>
</body>
</html>
