<!DOCTYPE html>
<html>
  <head>
    <title>Animatino Decision</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="./static/css/bootstrap.min.css" rel="stylesheet" media="screen">
   <link href="./static/css/custom.css" rel="stylesheet" media="screen">
   <link href="./static/css/bootstrap-responsive.css" rel="stylesheet">

    <script type="text/javascript" charset="utf-8" src="./static/js/jquery.js"></script>
    <script type="text/javascript" charset="utf-8" src="./static/js/pixastic.custom.js"></script>
    <script type="text/javascript" charset="utf-8" src="./static/js/edges2.js"></script>
    <script type="text/javascript" charset="utf-8" src="./static/js/camcanvas.js"></script>
    <script type="text/javascript" charset="utf-8" src="./static/js/rtcomic.js"></script>
    <script type="text/javascript" charset="utf-8" src="./static/js/utils.js"></script>
    <script type="text/javascript" charset="utf-8" src="./static/js/jsfeat-min.js"></script>
    <script type="text/javascript" charset="utf-8" src="./static/js/jsfeat_detect.js"></script>
    <!--
    <script type="text/javascript" charset="utf-8" src="./static/js/frontalface.js"></script>
    <script type="text/javascript" charset="utf-8" src="./static/js/clm.js"></script>
    <script type="text/javascript" charset="utf-8" src="./static/js/numeric-1.2.6.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="./static/js/mosse.js"></script>
    <script type="text/javascript" charset="utf-8" src="./static/js/left_eye_filter.js"></script>
    <script type="text/javascript" charset="utf-8" src="./static/js/right_eye_filter.js"></script>
    <script type="text/javascript" charset="utf-8" src="./static/js/nose_filter.js"></script>
    <script type="text/javascript" charset="utf-8" src="./static/js/ccv.js"></script>
    <script type="text/javascript" charset="utf-8" src="./static/js/cascade.js"></script>
    <script type="text/javascript" charset="utf-8" src="./static/js/svmfilter_webgl.js"></script>
    <script type="text/javascript" charset="utf-8" src="./static/js/svmfilter_fft.js"></script>
    <script type="text/javascript" charset="utf-8" src="./static/js/mossefilter.js"></script>
    <script type="text/javascript" charset="utf-8" src="./static/js/Stats.js"></script>
    <script type="text/javascript" charset="utf-8" src="./static/models/model_pca_20_svm.js"></script>
    -->
    <script type="text/javascript" charset="utf-8" src="./static/js/BIT.js"></script>
	<script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=&amp;pophcol=2&amp;lang=zh"></script>
	<script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script>
    <script type="text/javascript" charset="utf-8" src="./static/js/weibo.js"></script>
    <style type="text/css">
      html {
        /*background: #111111;*/
        height: 100%;
        /*background: linear-gradient( #333, #000);*/
      }
      #yonkoma {

        border-image:url(./static/img/4square.png) 30 30 round;
        height : 740px;
        width : 990px;
      }

      #video, #rtcanvas,#comcanvas {
        /*
        -o-transform : scaleX(-1);
        -webkit-transform : scaleX(-1);
        transform : scaleX(-1);
        -ms-filter : fliph;  //IE
        filter : fliph;   //IE
        */
        /*display: none;*/ } #container {
        position : relative;
        width : 600px;
        height : 400px;
      }
      
    </style>

  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Animation</a>
          <div class="nav-collapse collapse"> <p class="navbar-text pull-right"> <a href="#" class="navbar-link">Login</a>
            </p>
            <ul class="nav">
              <li><a href="#">Features</a></li>
              <li><a href="#about">Examples</a></li>
              <li><a href="#contact">About</a></li>
              <li><a href="#contact">Resources</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
<div class="container-fluid"><!--container starts -->

  <div class="row-fluid"> <!-- first row starts -->

    <div class="span6"><!-- first column starts -->
      <video id="video"></video>
      <canvas id="filtercanvas" style="display:none"></canvas>
    </div> <!-- first column ends -->
    <div class="span6"><!-- second column starts -->
      <canvas id="rtcanvas"></canvas>
    </div> <!-- second column ends -->
  </div> <!-- first row ends -->

  <div class="row-fluid"> <!-- second row starts -->
     <button id="filterbutton" class="btn btn-large btn-success">Filter</button>
     <!-- <input class="btn-large" type="checkbox"  id="filterbutton" name="rtcheck"> -->
    <!-- <label class="btn-large" for="filterbutton" style="display:inline"> Filter On</label> -->
    <button id="take" class="btn btn-large btn-success">Take photo</button>
    <!--
    <canvas id="canvas" height=300 width=55></canvas>
    -->
    <input type="text" id="words" width=150/>
    <!-- <button id="submit" class="btn btn-large btn-success">Submit</button> -->
    <button id="submit0" class="btn btn-large btn-success">1</button>
    <button id="submit1" class="btn btn-large btn-success">2</button>
    <button id="submit2" class="btn btn-large btn-success">3</button>
    <button id="submit3" class="btn btn-large btn-success">4</button>
    <input type="file" id="file" class=" btn-larege" />
    <button id="drawbutton" class="btn btn-large btn-success">Draw</button>
  </div> <!-- second row ends -->

      <div class="row-fluid"> <!-- third row starts-->
    <div id="yonkoma" class="span6"><!-- first column starts -->
      <canvas id="comcanvas0"></canvas>
      <canvas id="comcanvas1"></canvas>
      <canvas id="comcanvas2"></canvas>
      <canvas id="comcanvas3"></canvas>
    </div> <!-- first column ends -->
  </div> <!-- third row ends -->
  <script>
    (function() {
     var streaming = false,
     video        = document.querySelector('#video'),
     rtcanvas     = document.querySelector('#rtcanvas'),
     photo        = document.querySelector('#photo'),
     drawbutton   = document.querySelector('#drawbutton'),
     filterbutton = document.querySelector('#filterbutton'),
     //filter       = document.querySelector('#filtercheck'),
     filtercanvas = document.querySelector('#filtercanvas'),
     comcanvas0   = document.querySelector('#comcanvas0'),
     comcanvas1   = document.querySelector('#comcanvas1'),
     comcanvas2   = document.querySelector('#comcanvas2'),
     comcanvas3   = document.querySelector('#comcanvas3'),
     takebutton   = document.querySelector('#take'),
     //submit       = document.querySelector('#submit'),
     submit0      = document.querySelector('#submit0'),
     submit1      = document.querySelector('#submit1'),
     submit2      = document.querySelector('#submit2'),
     submit3      = document.querySelector('#submit3'),
     words        = document.querySelector('#words'),
     width = 480,
     height = 0,
     counter = 0;
     var images = new Array();
     var px = new Array();
     var py = new Array();
     var wsource = new Array();
     var comicIndex = 4;
     var isfilter = false;

     /*
        var ctrack = new clm.tracker({useWebGL : true});
        ctrack.init(pModel);
      */

     navigator.getMedia = ( navigator.getUserMedia ||
         navigator.webkitGetUserMedia ||
         navigator.mozGetUserMedia ||
         navigator.msGetUserMedia);
     // Believe me I have no idea what heppen here... :(
     navigator.getMedia({
         video: true,
         audio: false
     }, function(stream) {
         if (navigator.mozGetUserMedia) {
             video.mozSrcObject = stream;
         } else {
             var vendorURL = window.URL || window.webkitURL;
             video.src = vendorURL.createObjectURL(stream);
         }
         video.play();
     }, function(err) {
         console.log("An error occured! " + err);
     });
     video.addEventListener('canplay', function(ev) {
         if (!streaming) {
         height = video.videoHeight / (video.videoWidth/width);
         video.setAttribute('width', width);
         video.setAttribute('height', height);
         rtcanvas.setAttribute('width', width);
         rtcanvas.setAttribute('height', height);
         filtercanvas.setAttribute('width', width);
         filtercanvas.setAttribute('height', height);
         comcanvas0.setAttribute('height', height);
         comcanvas0.setAttribute('width', width);
         comcanvas1.setAttribute('width', width);
         comcanvas1.setAttribute('height', height);
         comcanvas2.setAttribute('width', width);
         comcanvas2.setAttribute('height', height);
         comcanvas3.setAttribute('width', width);
         comcanvas3.setAttribute('height', height);
         px[0] = 0;
         py[0] = 0;
         px[1] = width;
         py[1] = 0;
         px[2] = 0;
         py[2] = height;
         px[3] = width;
         py[3] = height;
         streaming = true;
         }
     }, false);

function drawrtCanvas() {
  rtcanvas.width = width;
  rtcanvas.height = height;
  rtcanvas.getContext('2d').drawImage(video, 0, 0, width, height);
  var data = rtcanvas.toDataURL('image/png');
  //photo.setAttribute('src', data);
  var img = new Image();
  img.id = "myImage";
  img.setAttribute('src', data);
  setFunction(passNormal);
  var option = {};
  option = {brightness: 100, contrast: 0.0}
  Pixastic.process(img, "brightness", option);
  var canvas0 = option.resultCanvas;
  canvas0.id = "origin";
  //function self-defined
  ProcessToGrayImage(canvas0, rtcanvas);
  newAlgorithm(canvas0, rtcanvas);

  option = {amount:0.025}
  Pixastic.process(img, "blur",option);
  canvas0 = option.resultCanvas;
  option = {}
  Pixastic.process(canvas0, "edges2",option);
  canvas0 = option.resultCanvas;
  //function self-defined
  newAlgorithm(canvas0, rtcanvas, {overlay:true});
  canvas0 = document.getElementById("origin");
  delBad(rtcanvas);
}

function takePhoto() {
      var rtct = rtcanvas.getContext("2d");
      rtct.clearRect(0, 0, rtcanvas.width, rtcanvas.height);
      drawrtCanvas();
      console.log(counter);
      var comcanvas = document.getElementById("comcanvas"+counter.toString());
      var comctx = comcanvas.getContext('2d');
      var data = rtcanvas.toDataURL('image/png');
      var img = new Image();
      img.id = "myImage";
      img.setAttribute('src', data);
      comctx.drawImage(img,0,0);
      reinit(counter);
      ++counter;
      if (counter == comicIndex) {
          counter = 0;
      }
	  addEntry();
      //comcanvas.style.border-image="url(./static/img/4square.png) 30 30 round";
  }

function dImage(index) {
  var canvas = document.getElementById("comcanvas");
  var ctx = canvas.getContext("2d");
  var img = new Image();
  img.onload = function() {
    ctx.drawImage(img, px[index], py[index]);
  }
  img.src = wsource[index];
  //img.src = "../static/img/test3.jpg";
  var canvasOffset = $("#comcanvas").offset();
  var offsetX = canvasOffset.left;
  var offsetY = canvasOffset.top;
  var canvasWidth = canvas.width;
  var canvasHeight = canvas.height;
  var isDragging = false;
  var imgi = index;
  function handleMouseDown(e) {
    // canMouseX = parseInt(e.clientX - offsetX);
    // canMouseY = parseInt(e.clientY - offsetY);
    canMouseX = parseInt(e.clientX);
    canMouseY = parseInt(e.clientY);
    isDragging = true;
  }
  function handleMouseUp(e) {
    // canMouseX = parseInt(e.clientX - offsetX);
    // canMouseY = parseInt(e.clientY - offsetY);
    canMouseX = parseInt(e.clientX);
    canMouseY = parseInt(e.clientY);
    isDragging = false;
  }
  function handleMouseOut(e) {
    // canMouseX = parseInt(e.clientX - offsetX);
    // canMouseY = parseInt(e.clientY - offsetY);
    canMouseX = parseInt(e.clientX);
    canMouseY = parseInt(e.clientY);
  }
  function handleMouseMove(e) {
    // canMouseX = parseInt(e.clientX - offsetX);
    // canMouseY = parseInt(e.clientY - offsetY);
    canMouseX = parseInt(e.clientX);
    canMouseY = parseInt(e.clientY);
    // if the drag flag is set, clear the canvas and draw the image
    if (isDragging) {
      ctx.clearRect(0, 0, canvasWidth, canvasHeight);
      ctx.drawImage(images[imgi], px[imgi], py[imgi]);
      //ctx.drawImage(img, canMouseX - 128 / 2, canMouseY - 120 / 2, img.width, img.height);
      ctx.drawImage(img, canMouseX - img.width / 2, canMouseY - img.height / 2, img.width, img.height);
    }
  }
  $("#comcanvas").mousedown(function(e){handleMouseDown(e);});
  $("#comcanvas").mousemove(function(e){handleMouseMove(e);});
  $("#comcanvas").mouseup(function(e){handleMouseUp(e);});
  $("#comcanvas").mouseout(function(e){handleMouseOut(e);});
}

  function drawOnCanvas(n) {
      switch(n) {
          case 0: drawOnCanvas2(0); break;
          case 1: drawOnCanvas2(1); break;
          case 2: drawOnCanvas2(2); break;
          case 3: drawOnCanvas2(3); break;
      }
  }

  function drawfilter() {
      filtercanvas.getContext('2d').drawImage(video, 0, 0, width, height);
      var data = filtercanvas.toDataURL('image/png');
      var img = new Image();
      img.id = "myImage";
      img.setAttribute('src', data);
      setFunction(passNormal);
      var option = {};
      option = {brightness: 100, contrast: 0.0}
      Pixastic.process(img, "brightness", option);
      var canvas0 = option.resultCanvas;
      //function self-defined
      ProcessToGrayImage(canvas0, filtercanvas);
      newAlgorithm(canvas0, filtercanvas);

	  option = {amount:0.025}
	  Pixastic.process(img, "blur",option);
	  canvas0 = option.resultCanvas;
      option = {}
      Pixastic.process(canvas0, "edges2",option);
      canvas0 = option.resultCanvas;
      //function self-defined
      newAlgorithm(canvas0, filtercanvas, {overlay:true});

	  delBad(filtercanvas);
  }
  function drawLoop() {
      if (isfilter) {
          requestAnimFrame(drawLoop);
          var filctx = filtercanvas.getContext("2d");
          filctx.clearRect(0, 0, filtercanvas.width, filtercanvas.height);
          drawfilter();
      }
  }
  function startFilter() {
      isfilter = !isfilter;
      if (isfilter) {
          video.style.display = "none";
          filtercanvas.style.display = "block";
          drawLoop();
      } else {
          filtercanvas.style.display = "none";
          video.style.display = "block";
      }
  }
  function drawlocalimage() {
      var ctx = document.getElementById('comcanvas' + counter.toString()).getContext('2d'),
      img = new Image(),
      f = document.getElementById("file").files[0],
      url = window.URL || window.webkitURL,
      src = url.createObjectURL(f);
      img.src = src;
      img.onload = function(){
          ctx.drawImage(img, 0, 0, width, height);
          url.revokeObjectURL(src);
      }
      counter = (counter + 1) % comicIndex;
  }
  filterbutton.addEventListener('click', function(ev){
    startFilter();
    ev.preventDefault();
  }, false);
  /*
  submit.addEventListener('click', function(ev) {
    drawOnCanvas();
    ev.preventDefault();
  }, false);
  */
  submit0.addEventListener('click', function(ev) {
      drawOnCanvas(0);
      ev.preventDefault();
  }, false);
  submit1.addEventListener('click', function(ev) {
      drawOnCanvas(1);
      ev.preventDefault();
  }, false);
  submit2.addEventListener('click', function(ev) {
      drawOnCanvas(2);
      ev.preventDefault();
  }, false);
  submit3.addEventListener('click', function(ev) {
      drawOnCanvas(3);
      ev.preventDefault();
  }, false);
  takebutton.addEventListener('click', function(ev) {
    takePhoto();
    ev.preventDefault();
  }, false);
  drawbutton.addEventListener('click', function(ev) {
      drawlocalimage();
      ev.preventDefault();
  }, false);
  /*
  $('input[name=rtcheck]').change(function(){

    if($(this).is(':checked'))
    {
        isfilter = true;
        video.style.display = "none";
        filtercanvas.style.display = "block";
        drawLoop();
    }
    else
    {
        filtercanvas.style.display = "none";
        video.style.display = "block";
        isfilter = false;
    }    
  });
  */
  init();
})();
</script>
<div class="bshare-custom">
	<a title="分享到QQ空间" class="bshare-qzone"></a>
	<a title="分享到新浪微博" class="bshare-sinaminiblog"></a>
	<a title="分享到人人网" class="bshare-renren"></a>
	<a title="分享到腾讯微博" class="bshare-qqmb"></a>
	<a title="分享到网易微博" class="bshare-neteasemb"></a>
	<a title="更多平台" class="bshare-more bshare-more-icon more-style-addthis"></a><span class="BSHARE_COUNT bshare-share-count">0</span>
</div>

<div class="row-fluid">
  <div class="span12">
    <hr>
    <p>All rights reserved by Gaia 2013-2014.</p>
  </div>
</div>
</div><!--container ends -->

<script src="http://code.jquery.com/jquery.js"></script>
<script src="./static/js/bootstrap.min.js"></script>
  </body>
</html>
