<!DOCTYPE html>
<html>
  <head>
    <title>Animatino Decision</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="./static/css/bootstrap.min.css" rel="stylesheet" media="screen">
   <link href="./static/css/custom.css" rel="stylesheet" media="screen">
   <link href="./static/css/bootstrap-responsive.css" rel="stylesheet">

    <script type="text/javascript" charset="utf-8" src="./static/js/jquery.js"></script>
    <script type="text/javascript" charset="utf-8" src="./static/js/pixastic.custom.js"></script>
    <script type="text/javascript" charset="utf-8" src="./static/js/edges2.js"></script>
    <script type="text/javascript" charset="utf-8" src="./static/js/camcanvas.js"></script>
    <script type="text/javascript" charset="utf-8" src="./static/js/rtcomic.js"></script>
    <script type="text/javascript" charset="utf-8" src="./static/js/clm.js"></script>
    <script type="text/javascript" charset="utf-8" src="./static/js/utils.js"></script>
    <script type="text/javascript" charset="utf-8" src="./static/js/jsfeat-min.js"></script>
    <script type="text/javascript" charset="utf-8" src="./static/js/frontalface.js"></script>
    <script type="text/javascript" charset="utf-8" src="./static/js/jsfeat_detect.js"></script>
    <script type="text/javascript" charset="utf-8" src="./static/js/numeric-1.2.6.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="./static/js/mosse.js"></script>
    <script type="text/javascript" charset="utf-8" src="./static/js/left_eye_filter.js"></script>
    <script type="text/javascript" charset="utf-8" src="./static/js/right_eye_filter.js"></script>
    <script type="text/javascript" charset="utf-8" src="./static/js/nose_filter.js"></script>
    <script type="text/javascript" charset="utf-8" src="./static/js/ccv.js"></script>
    <script type="text/javascript" charset="utf-8" src="./static/js/cascade.js"></script>
    <script type="text/javascript" charset="utf-8" src="./static/js/svmfilter_webgl.js"></script>
    <script type="text/javascript" charset="utf-8" src="./static/js/svmfilter_fft.js"></script>
    <script type="text/javascript" charset="utf-8" src="./static/js/mossefilter.js"></script>
    <script type="text/javascript" charset="utf-8" src="./static/js/Stats.js"></script>
    <script type="text/javascript" charset="utf-8" src="./static/models/model_pca_20_svm.js"></script>
    <script type="text/javascript" charset="utf-8" src="./static/js/BIT.js"></script>
    <style type="text/css">
      html {
        /*background: #111111;*/
        height: 100%;
        /*background: linear-gradient( #333, #000);*/
      }
      #video, #rtcanvas {
        -o-transform : scaleX(-1);
    -webkit-transform : scaleX(-1);
        transform : scaleX(-1);
        -ms-filter : fliph; /*IE*/
        filter : fliph; /*IE*/
        /*display: none;*/
      }
      /* delete
      #startbutton, #submit, #take {
        background: green;
        border: none;
        color: #fff;
        margin: 100px 20px 20px 20px;
        padding: 10px 20px;
        font-size: 20px;
      }
      */
      #container {
        position : relative;
        width : 600px;
        height : 400px;
      }
      
    </style>

  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Animation</a>
          <div class="nav-collapse collapse"> <p class="navbar-text pull-right"> <a href="#" class="navbar-link">Login</a>
            </p>
            <ul class="nav">
              <li><a href="#">Features</a></li>
              <li><a href="#about">Examples</a></li>
              <li><a href="#contact">About</a></li>
              <li><a href="#contact">Resources</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
<div class="container-fluid"><!--container starts -->

  <div class="row-fluid"> <!-- first row starts -->

    <div class="span6"><!-- first column starts -->
      <video id="video"></video>
    </div> <!-- first column ends -->
    <div class="span6"><!-- second column starts -->
      <canvas id="rtcanvas"></canvas>
    </div> <!-- second column ends -->


  </div> <!-- first row ends -->

  <div class="row-fluid"> <!-- second row starts -->
    <button id="startbutton" class="btn btn-large btn-success">Start</button> 
    <button id="take" class="btn btn-large btn-success">Take photo</button>
    <!--
    <canvas id="canvas" height=300 width=55></canvas>
    -->
    <input type="text" id="words" width=150/>
    <button id="submit" class="btn btn-large btn-success">Submit</button>
  </div> <!-- second row ends -->

      <div class="row-fluid"> <!-- third row starts-->
    <div class="span6"><!-- second column starts -->
      <canvas id="comcanvas"></canvas>
    </div> <!-- second column ends -->
  </div> <!-- third row ends -->
  <script>
    (function() {

     var streaming = false,
     video        = document.querySelector('#video'),
     rtcanvas     = document.querySelector('#rtcanvas'),
     comcanvas    = document.querySelector('#comcanvas'),
     photo        = document.querySelector('#photo'),
     startbutton  = document.querySelector('#startbutton'),
     takebutton   = document.querySelector('#take'),
     submit       = document.querySelector('#submit'),
     words        = document.querySelector('#words'),
     width = 480,
     height = 0,
     counter = 0;
     var images = new Array();
     var px = new Array();
     var py = new Array();
     var wsource = new Array();
     var comicIndex = 4;
     var total = 0;

     /*
        var ctrack = new clm.tracker({useWebGL : true});
        ctrack.init(pModel);
      */

     navigator.getMedia = ( navigator.getUserMedia ||
         navigator.webkitGetUserMedia ||
         navigator.mozGetUserMedia ||
         navigator.msGetUserMedia);
     // Believe me I have no idea what heppen here... :(
     navigator.getMedia(
         {
video: true,
audio: false
},
function(stream) {
if (navigator.mozGetUserMedia) {
video.mozSrcObject = stream;
} else {
var vendorURL = window.URL || window.webkitURL;
video.src = vendorURL.createObjectURL(stream);
}
video.play();
},
function(err) {
console.log("An error occured! " + err);
}
);
     video.addEventListener('canplay', function(ev) {
         if (!streaming) {
         height = video.videoHeight / (video.videoWidth/width);
         video.setAttribute('width', width);
         video.setAttribute('height', height);
         rtcanvas.setAttribute('width', width);
         rtcanvas.setAttribute('height', height);
         comcanvas.setAttribute('width', width * 2);
         comcanvas.setAttribute('height', height * 2);
         px[0] = 0;
         py[0] = 0;
         px[1] = width;
         py[1] = 0;
         px[2] = 0;
         py[2] = height;
         px[3] = width;
         py[3] = height;
         streaming = true;
         }
         }, false);

function drawrtCanvas() {
  rtcanvas.width = width;
  rtcanvas.height = height;
  rtcanvas.getContext('2d').drawImage(video, 0, 0, width, height);
  var data = rtcanvas.toDataURL('image/png');
  //photo.setAttribute('src', data);
  var img = new Image();
  img.id = "myImage";
  img.setAttribute('src', data);
  setFunction(passNormal);
  var option = {};
  option = {brightness: 100, contrast: 0.0}
  Pixastic.process(img, "brightness", option);
  var canvas0 = option.resultCanvas;
  canvas0.id = "origin";
  //function self-defined
  ProcessToGrayImage(canvas0, rtcanvas);
  newAlgorithm(canvas0, rtcanvas);

  option = {amount:0.025}
  Pixastic.process(img, "blur",option);
  canvas0 = option.resultCanvas;
  option = {}
  Pixastic.process(canvas0, "edges2",option);
  canvas0 = option.resultCanvas;
  //function self-defined
  newAlgorithm(canvas0, rtcanvas, {overlay:true});
  canvas0 = document.getElementById("origin");
  delBad(rtcanvas);
}
/*
function takePhoto() {
  var rtct = rtcanvas.getContext("2d");
  rtct.clearRect(0, 0, rtcanvas.width, rtcanvas.height);
  drawrtCanvas();
  var comctx = comcanvas.getContext('2d');
  var data = rtcanvas.toDataURL('image/png');
  //photo.setAttribute('src', data);
  var img = new Image();
  img.id = "myImage";
  img.setAttribute('src', data);
  var canvas = document.getElementById("canvas");
  var wordsdata = canvas.toDataURL('image/png');
  images[counter] = img;
  wsource[counter] = wordsdata;
  total = (total == 4? total + 1 : 4);
  if (counter == 0) {
    comctx.drawImage(img, px[counter], py[counter]);
    dImage(counter);
  } else  if (counter == 1) {
    comctx.drawImage(img, px[counter], py[counter]);
    dImage(counter);
  } else if (counter == 2) {
    comctx.drawImage(img, px[counter], py[counter]);
    dImage(counter);
  } else if (counter == 3) {
    comctx.drawImage(img, px[counter], py[counter]);
    dImage(counter);
  }
  counter = (counter + 1) % comicIndex;
}
*/

function takePhoto() {
      var rtct = rtcanvas.getContext("2d");
      rtct.clearRect(0, 0, rtcanvas.width, rtcanvas.height);
      drawrtCanvas();
      var comctx = comcanvas.getContext('2d');
      var data = rtcanvas.toDataURL('image/png');
      var img = new Image();
      img.id = "myImage";
      img.setAttribute('src', data);
      if (counter == 0) {
          comctx.drawImage(img, 0, 0);
		  reinit(0,0,0);
      } else  if (counter == 1) {
          comctx.drawImage(img, comcanvas.width / 2, 0);
		  reinit(1,0,comcanvas.width/2);
      } else if (counter == 2) {
          comctx.drawImage(img, 0, comcanvas.height / 2);
		  reinit(2,comcanvas.height/2,0);
      } else if (counter == 3) {
          comctx.drawImage(img, comcanvas.width / 2, comcanvas.height 
/ 2);
		  reinit(3,comcanvas.height/2,comcanvas.width/2);
      }
      ++counter;
      if (counter == 4) {
          counter = 0;
      }
  }

function dImage(index) {
  var canvas = document.getElementById("comcanvas");
  var ctx = canvas.getContext("2d");
  var img = new Image();
  img.onload = function() {
    ctx.drawImage(img, px[index], py[index]);
  }
  img.src = wsource[index];
  //img.src = "../static/img/test3.jpg";
  var canvasOffset = $("#comcanvas").offset();
  var offsetX = canvasOffset.left;
  var offsetY = canvasOffset.top;
  var canvasWidth = canvas.width;
  var canvasHeight = canvas.height;
  var isDragging = false;
  var imgi = index;
  function handleMouseDown(e) {
    // canMouseX = parseInt(e.clientX - offsetX);
    // canMouseY = parseInt(e.clientY - offsetY);
    canMouseX = parseInt(e.clientX);
    canMouseY = parseInt(e.clientY);
    isDragging = true;
  }
  function handleMouseUp(e) {
    // canMouseX = parseInt(e.clientX - offsetX);
    // canMouseY = parseInt(e.clientY - offsetY);
    canMouseX = parseInt(e.clientX);
    canMouseY = parseInt(e.clientY);
    isDragging = false;
  }
  function handleMouseOut(e) {
    // canMouseX = parseInt(e.clientX - offsetX);
    // canMouseY = parseInt(e.clientY - offsetY);
    canMouseX = parseInt(e.clientX);
    canMouseY = parseInt(e.clientY);
  }
  function handleMouseMove(e) {
    // canMouseX = parseInt(e.clientX - offsetX);
    // canMouseY = parseInt(e.clientY - offsetY);
    canMouseX = parseInt(e.clientX);
    canMouseY = parseInt(e.clientY);
    // if the drag flag is set, clear the canvas and draw the image
    if (isDragging) {
      ctx.clearRect(0, 0, canvasWidth, canvasHeight);
      ctx.drawImage(images[imgi], px[imgi], py[imgi]);
      //ctx.drawImage(img, canMouseX - 128 / 2, canMouseY - 120 / 2, img.width, img.height);
      ctx.drawImage(img, canMouseX - img.width / 2, canMouseY - img.height / 2, img.width, img.height);
    }
  }
  $("#comcanvas").mousedown(function(e){handleMouseDown(e);});
  $("#comcanvas").mousemove(function(e){handleMouseMove(e);});
  $("#comcanvas").mouseup(function(e){handleMouseUp(e);});
  $("#comcanvas").mouseout(function(e){handleMouseOut(e);});
}

function drawOnCanvas() {
	  drawOnCanvas2(0,0,0,comcanvas.height/2,comcanvas.width/2);
	  drawOnCanvas2(1,0,comcanvas.width/2,comcanvas.height/2,comcanvas.width);
	  drawOnCanvas2(2,comcanvas.height/2,0,comcanvas.height,comcanvas.width/2);
	  drawOnCanvas2(3,comcanvas.height/2,comcanvas.width/2,comcanvas.height,comcanvas.width);
  }

/*
   function drawOnCanvas() {
   var canvas = document.getElementById("canvas");
   var ctx = canvas.getContext("2d");
   var string = words.value;
   ctx.clearRect(0, 0, canvas.width, canvas.height);
   ctx.font = 'bold 12pt Heiti';
   var i = 0, x = 0, y = 20;
   var line = "";
   for (; i < string.length; ++i) {
   var lw = ctx.measureText(line).width;
   if (lw + ctx.measureText(string[i]).width < canvas.width) {
   line += string[i];
   } else {
   ctx.fillText(line, x, y);
   line = string[i];
   x = 0;
   y += 20;
   }
   }
   if (line.length > 0) {
   ctx.fillText(line, x, y);
   }

   }
 */

startbutton.addEventListener('click', function(ev){
    startVideo();
    ev.preventDefault();
    }, false);
submit.addEventListener('click', function(ev) {
    drawOnCanvas();
    ev.preventDefault();
    }, false);
takebutton.addEventListener('click', function(ev) {
    takePhoto();
    ev.preventDefault();
    }, false);
/* the codes below is written by lpy for drag photo
   function dImage() {
   var canvas = document.getElementById("canvas");
   var ctx = canvas.getContext("2d");
   var img = new Image();
   img.width = 100;
   img.height = 100;
   img.onload = function() {
   ctx.drawImage(img, 0, 0);
   }
   img.src = "../static/img/test3.jpg";
   var canvasOffset = $("#canvas").offset();
   var offsetX = canvasOffset.left;
   var offsetY = canvasOffset.top;
   var canvasWidth = canvas.width;
   var canvasHeight = canvas.height;
   var isDragging = false;
   function handleMouseDown(e) {
   canMouseX = parseInt(e.clientX - offsetX);
   canMouseY = parseInt(e.clientY - offsetY);
   isDragging = true;
   }
   function handleMouseUp(e) {
   canMouseX = parseInt(e.clientX - offsetX);
   canMouseY = parseInt(e.clientY - offsetY);
   isDragging = false;
   }
   function handleMouseOut(e) {
   canMouseX = parseInt(e.clientX - offsetX);
   canMouseY = parseInt(e.clientY - offsetY);
   }
   function handleMouseMove(e) {
   canMouseX = parseInt(e.clientX - offsetX);
   canMouseY = parseInt(e.clientY - offsetY);
// if the drag flag is set, clear the canvas and draw the image
if (isDragging) {
ctx.clearRect(0, 0, canvasWidth, canvasHeight);
ctx.drawImage(img, canMouseX - 128 / 2, canMouseY - 120 / 2, img.width, img.height);
}
}
$("#canvas").mousedown(function(e){handleMouseDown(e);});
$("#canvas").mousemove(function(e){handleMouseMove(e);});
$("#canvas").mouseup(function(e){handleMouseUp(e);});
$("#canvas").mouseout(function(e){handleMouseOut(e);});
}
 */
/* the codes below is written by nemomojie for Chinese fonts wrap...
   var cnt = 0;
   for (i = 0 ; i < string.length ; i++) {
   if (isChinese(string[i]) && cnt % 6 == 5) cnt++;
   var height = 15 + (parseInt(cnt / 6)) * 30;
   var width = (cnt % 6) * (50 / 6);
   console.log(cnt.toString()+" "+ width.toString() + " " + height.toString());
   ctx.fillText(string[i], width, height);
   if (isChinese(string[i]) == true)
   cnt += 2;
   else cnt++;
   }
 */
 init();

})();
</script>
<!--
</div><!-- second column ends -->
</div><!-- first row ends -->
-->
<div class="row-fluid">
  <div class="span12">
    <hr>
    <p>All rights reserved by Your Co. 2013-2014.</p>
  </div>
</div>
</div><!--container ends -->

<script src="http://code.jquery.com/jquery.js"></script>
<script src="./static/js/bootstrap.min.js"></script>
  </body>
</html>
