<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>动画化决定!</title>

    <script type="text/javascript" charset="utf-8" src="./static/js/jquery.js"></script>
    <script type="text/javascript" charset="utf-8" src="./static/js/pixastic.custom.js"></script>
    <script type="text/javascript" charset="utf-8" src="./static/js/edges2.js"></script>
    <script type="text/javascript" charset="utf-8" src="./static/js/camcanvas.js"></script>
    <script type="text/javascript" charset="utf-8" src="./static/js/comic.js"></script>
    <style type="text/css">

      html {
        background: #111111;
        height: 100%;
        background: linear-gradient( #333, #000);
      }
      canvas {
        display: none;
      }
      video, img, #startbutton {
        display: block;
        float: left;
        border: 10px solid #fff;
        border-radius: 10px;
      }
      #startbutton {
        background: green;
        border: none;
        color: #fff;
        margin: 100px 20px 20px 20px;
        padding: 10px 20px;
        font-size: 20px;
      }
      #container {
        overflow: hidden;
        width: 880px;
        margin: 20px auto;
      }
    </style>

  </head>
  <body>

<video id="video"></video>
<button id="startbutton">Take photo</button>
<canvas id="canvas"></canvas>
<img src="http://argo.sysu.edu.cn/avatar/juhl" id="photo" alt="photo">

    <script>
(function() {

  var streaming = false,
      video        = document.querySelector('#video'),
      canvas       = document.querySelector('#canvas'),
      photo        = document.querySelector('#photo'),
      startbutton  = document.querySelector('#startbutton'),
      width = 320,
      height = 0;

  navigator.getMedia = ( navigator.getUserMedia ||
                         navigator.webkitGetUserMedia ||
                         navigator.mozGetUserMedia ||
                         navigator.msGetUserMedia);

  navigator.getMedia(
    {
      video: true,
      audio: false
    },
    function(stream) {
      if (navigator.mozGetUserMedia) {
        video.mozSrcObject = stream;
      } else {
        var vendorURL = window.URL || window.webkitURL;
        video.src = vendorURL.createObjectURL(stream);
      }
      video.play();
    },
    function(err) {
      console.log("An error occured! " + err);
    }
  );

  video.addEventListener('canplay', function(ev){
    if (!streaming) {
      height = video.videoHeight / (video.videoWidth/width);
      video.setAttribute('width', width);
      video.setAttribute('height', height);
      canvas.setAttribute('width', width);
      canvas.setAttribute('height', height);
      streaming = true;
    }
  }, false);

  function ostu(img) {

        setFunction(passNormal);
       // $("#myImage").pixastic("edges", {mono: true, invert: true}).pixastic("removenoise");
        $("#myImage").pixastic("removenoise");
        var canvas = document.getElementsByTagName("canvas")[1];
        canvas.id = "origin";
        var canvas2 = document.getElementById("canvas");
        canvas2.width = canvas.width;
        canvas2.height = canvas.height;

        ProcessToGrayImage(canvas, canvas2);
        OTSUAlgorithm(canvas, canvas2);
        //$("#myCanvasThreshold").pixastic("edges2").pixastic("removenoise");
        $("#origin").pixastic("brightness", {brightness: 0, contrast:
          0.5}).pixastic("edges2").pixastic("removenoise");
        canvas = document.getElementById("origin");
        canvas2 = document.getElementById("myCanvasThreshold");

        OTSUAlgorithm(canvas, canvas2, {overlay:true});
        //$("myCanvasThreshold").pixastic("removenoise").pixastic("removenoise");
      }
      document.body.appendChild(img);
  }

  function takepicture() {
      canvas.width = width;
      canvas.height = height;
      canvas.getContext('2d').drawImage(video, 0, 0, width, height);
      var data = canvas.toDataURL('image/png');
      photo.setAttribute('src', data);
      var img = new Image();
      img.id = "myImage";
      img.src = data;
      ostu(img);
  }

  startbutton.addEventListener('click', function(ev){
      takepicture();
    ev.preventDefault();
  }, false);

})();
</script>
</body>
</html>
